/* donot remove it, this one is for carousel home page  */
:root{
  --swiper-navigation-size : 20px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login-page {
  min-height: 100vh;
}

/* categor landing page  */
.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-item {
  cursor: pointer;
}



/* carousel home page */

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}


/* carousel home page end  */

/* sticky class for the product landing page */

@media (min-width : 768px){
  .sticky-element{
  position: sticky;
  top: 20px;
  }
}
@media (max-width : 767px){
  .sticky-element{
  position: static;
  }
}