.login-page {
  min-height: 100vh;
}



/* categor landing page  */
.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-item {
  cursor: pointer;
  transition: transform 0.1s ;
}

.category-item:hover {
  transform: scale(1.2); 
}